body {
    background-color: #dfdfdf;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}

nav {
    background-color: #343434;
}

nav img {
    width: 56px;
    height: 56px;
    margin: 10px 10px 0 10px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    padding: 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: gray;
}

article {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

article header {
    color: gray;
    font-size: 0.8em;
}

article header h1 {
    color: black;
}

article p {
    text-indent: 2em;
    line-height: 2em;
}

article #lists {
    list-style-type: none;
}

article #images li{
    margin: 10px;
    padding: 10px;
    width: 150px;
    border:1px solid #ccc;
    list-style-type:none;
    text-align: center;
}

article #images li img {
    width: 100%;
    height: 100%;
}

article table {
    width: 100%;
    border:thin solid #ccc;
    border-collapse: collapse;
}

article table td,th {
   border:thin solid #ccc; 
}

article table thead {
    background-color: black;
    color: white;
}


article table tfoot {
    background-color: #ccc;
    color: black;
}

article blockquote {
    margin-top: 0px;
    margin-left: 0px;
    height: 20px;
    padding: 10px;
    border-left: 3px solid #ccc ;
}

form {
    margin-left:150px;
    width: 100%;
}

form label {
    width: 200px;
    text-align: right;
    margin-right: 10px;
    display: inline-block;
}
form div {
    margin: 10px;
}


form p.tip {
    margin-left: 190px;
    font-size:0.8em;
    color: #ccc;
}

article  #btn-submit {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border:0px;
}

article textarea {
    vertical-align: text-top;
}


footer {
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
    padding-top:25px;
}