* {
    padding: 0;
    margin: 0;
}

.container {
    width: 892px;
    height: 1386px;
    margin: 0 auto;
    padding: 0 44px;
    /*border: thin solid #ccc;*/
}

.navigation {
    position: relative;
    border-bottom: 2px solid #938e8c;
}

.navigation time {
    font-size: 12px;
    color: #d45d5c;
    position: absolute;
    right: 0;
    bottom: 0;
}

.logo {
    width: 110px;
    height: 61px;
    background-color: #d45d5c;
    position: relative;
}

.logo p {
    color: #fff;
    font-size: 12px;
    font-family: SimHei;
    position: absolute;
    left: 5px;
    bottom: 0;
}

.box {
    margin: 30px 0;
}

.head {
    height: 301px;
    width: 100%;
}

.head .image {
    width: 641px;
    height: 301px;
    position: relative;
}

.head .image .green {
    width: 191px;
    height: 301px;
    background-color: #75b86b;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}

.head .image .red {
    width: 191px;
    height: 301px;
    background-color: #cc8091;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
}

.head .about {
    width: 203px;
    float: right;
    border-top: 2px solid #cc8091;
}

.head .about .big {
    font-size: 24px;
    color: #00000;
    font-family: "微软雅黑";
    text-decoration: underline;
    text-transform: capitalize;
}

.head .about .small {
    font-size: 12px;
    color: #676767;
    font-family: "楷体";
}

.head .about .seven {
    font-size: 116px;
    color: #75b86b;
    font-family: "微软雅黑";
    font-style: italic;
}

.head .about .down {
    position: relative;
}

.head .about .down .three {
    font-size: 55px;
    color: #cc8091;
    font-family: "微软雅黑";
}

.head .about .down .css {
    font-size: 21px;
    color: #cc8091;
    font-family: "微软雅黑";
    position: absolute;
    bottom: 24px;
}

.head .about .down .long {
    font-size: 12px;
    color: #ccc;
    font-family: "微软雅黑";
    position: absolute;
    bottom: 12px;
}

.wwh {
    width: 641px;
}

.wwh h2 {
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: bold;
    text-decoration: underline;
}

.wwh p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
}

.wwh .what {
    float: left;
    width: 200px;
}

.wwh .what h2 {
    color: #418c59;
}

.wwh .what p {
    font-family: "宋体";
    color: #767777;
}

.wwh .when {
    margin: 0 220px;
}

.wwh .when h2 {
    color: #d2994f;
}

.wwh .when p {
    font-family: "微软雅黑";
    color: #231815;
    opacity: 0.7;
}

.wwh .how {
    float: right;
    width: 200px;
}

.wwh .how h2 {
    color: #cc7680;
}

.wwh .how p {
    font-family: "微软雅黑";
    color: #231815;
    opacity: 0.7;
}

.wwh .how .www {
    list-style-type: none;
    font-size: 12px;
    font-family: "微软雅黑";
    margin-top: 30px;
    opacity: 0.7;
}

.wwh .how .www span {
    color: #cd4a48;
    line-height: 16px;
    font-style: italic;
}

.main {
    clear: both;
}

.main .left {
    margin-right: 477px;
    width: 415px;
}

.main .right {
    float: right;
    width: 458px;
    margin-bottom: 30px;
}

.main .left header {
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

.main .left header p {
    font-family: "黑体";
    font-weight: bold;
}

.main .left .tech1 {
    font-size: 42px;
    color: #11456b;
}

.main .left .tech1 span {
    font-size: 72px;
    color: #f5e327;
    font-style: italic;
}

.main .left .tech2 {
    font-size: 33px;
    color: #11456b;
}

.main .left .article {
    font-size: 12px;
    font-family: "宋体";
    color: #767777;
    text-indent: 2em;
}

.main .left .first {
    padding-top: 20px;
    text-indent: 0em;
}

.main .left .article span {
    font-size: 70px;
    font-family: "微软雅黑";
    color: #f5e327;
    float: left;
    padding: 0 10px 10px 0;
}

.main .left .article img {
    float: right;
    padding: 10px 0 10px 10px;
}

.main .right .up {
    width: 458px;
    height: 275px;
    position: relative;
}

.main .right .up img {
    width: 458px;
    height: 275px;
}

.main .right .up .intro {
    width: 458px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    left: 0;
    bottom: 0;
    vertical-align: middle;
    padding: 9px 0;
}

.main .right .up .intro_1 {
    font-size: 26px;
    color: #fff;
    font-family: "微软雅黑";
    border-left: 3px solid #72b16a;
    height: 44px;
    margin-left: 40px;
    padding-left: 10px;
}

.main .right .up .intro_2 {
    font-size: 12px;
    color: #72b16a;
    font-family: "微软雅黑";
    font-style: italic;
    line-height: 140%;
}

.main .right .bottom {
    width: 419px;
    height: 278px;
    margin-top: 20px;
    padding: 20px;
    background-color: #eeedd7;
    position: relative;
}

.main .right .bottom>p {
    font-family: "宋体";
    color: #5a5b5b;
    font-style: italic;
    font-size: 16px;
    margin: 20px 0;
    text-align: left;
}


.main .right .bottom>p span {
    font-size: 12px;
    text-align: right;
}

.main .right .bottom .box_left {
    height: 160px;
    width: 260px;
    background-color: #d45d5c;
    position: absolute;
    left: 0;
    bottom: 0;
}

.main .right .bottom .box_right {
    float: right;
    height: 140px;
    width: 190px;
}


.main .right .bottom .box_left .pat {
    height: 86px;
    width: 240px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-left: -120px;
    margin-top: -43px;
}

.main .right .bottom .box_left .pat span {
    font: 110px "微软雅黑";
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 86px;
}

.main .right .bottom .box_left .pat .ottff {
    margin-left: 65px;
    border-left: 2px solid #fff;
    padding: 5px;
}

.main .right .bottom .box_left .pat .ottff .p1 {
    font: italic 21px "黑体";
    color: #fff;
}

.main .right .bottom .box_left .pat .ottff .p2 {
    font: 12px "黑体";
    color: #fff;
}


.main .right .bottom .box_right p {
    font-size: 14px;
    color: #5a5b5b;
    font-family: "黑体";
    font-style: italic;
    position: relative;
    margin-left: 20px;
}

.main .right .bottom .box_right span {
    font-size: 72px;
    color: #d45d5c;
    font-family: "黑体";
    /*display: block;*/
    height: 10px;
}

.main .right .bottom .box_right span.sl {
    float: left;
    position: relative;
    left: -50px;
    top: -15px;
    margin-right: -20px;
}

.main .right .bottom .box_right span.sr {
    float: right;
    position: absolute;
    bottom: 10px;
    right: -20px;
    height: 10px;
}

.footer {
    border-top: 1px solid #938e8c;
    width: 892px;
    clear: both;
}

.footer .ife {
    float: right;
    font-size: 12px;
    font-family: "黑体";
    color: #d45d5c;
}